h1 {
    font-family: serif;
    margin-left: 18pc;
}


/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #0b78d0;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {

    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

img {
    border-radius: 50%;
    padding: 0.5rem;
    height: 100px;
    width: 100px;
}

.first-picture {
    width: 350px;
    height: max-content;
    border-radius: 5%;

}


.btn-secondary {
    margin-left: 0.9cm;
}

.d-flex {
    margin-top: 3.5pc;
}

.topnav {
    margin-top: 3pc;
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Raleway);


html,
body {
    font-family: Raleway, sans-serif;
    background-color: #fff;
}

footer {
    width: 100%;
    display: inline-block;
    margin: 2em 0;
    height: 70px;
    background-color: #999;

    .copyright {
        width: 50%;
        float: left;

        @media (max-width: 600px) {
            width: 100%;
        }

        p {
            padding-left: 10%;
            color: white;
            font-size: 0.7em;
            line-height: 70px;
            text-transform: capitalize;
            letter-spacing: 1px;

            @media (max-width: 600px) {
                text-align: center;
                padding: 0;
            }
        }
    }

    .social {
        width: 50%;
        float: right;

        @media (max-width: 600px) {
            width: 100%;
        }

        a {
            float: left;
            line-height: 70px;
            text-decoration: none;
            color: white;
            text-align: center;
            font-weight: bold;


            &:hover {
                background-color: #222;

            }
        }
    }
}

.linked {
    background-color: dk-blue;
    font-size: social-size;
    width: social-width;
}

.face {
    background-color: blue;
    font-size: social-size;
    width: social-width;
}

.tweet {
    background-color: light-blue;
    font-size: social-size;
    width: social-width;
}

.support {
    background-color: green;
    font-size: 0.8em;
    width: 40%;
}