h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

img {
    border-radius: 50%;
    padding: 0.5rem;
    height: 100px;
    width: 100px;
}

button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #3612d6;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(10, 219, 238);
    background-image: linear-gradient(to top left,
            rgba(174, 29, 210, 0.2),
            rgba(164, 26, 202, 0.2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

button {
    box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.first-picture {
    width: 295px;
    height: max-content;
    border-radius: 5%;
    margin-left: 0.1pc;
}

.card {
    margin-left: 0.3cm;
    margin-top: 0.3cm;
}

.btn-secondary {
    margin-left: 0.9cm;
}